* text=auto eol=lf

# archivos binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.avif binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.pdf binary

# lockfiles: no diff ruido
pnpm-lock.yaml -diff
